<!DOCTYPE html>
<html lang="en">
	<head>
	<title>321</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
	</head>
	<body>
		
		
	<form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputBoard">Board</label>
	  <div class="col-sm-5">
      <select id="inputBoard" class="form-control">
        <option selected>Choose...</option>
        <option>CBSE</option>
        <option>Karnataka</option>
        <option>Maharashtra</option>
        <option>Telangana</option>
      </select>
	  </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputGrade">Grade</label>
	  <div class="col-sm-5">
      <select id="inputGrade" class="form-control">
        <option selected>Choose...</option>
        <option>Grade 1</option>
        <option>Grade 2</option>
        <option>Grade 3</option>
        <option>Grade 4</option>
        <option>Grade 5</option>
      </select>
	  </div>
    </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="inputSubject">Subject</label>
	<div class="col-sm-5">
    <select id="inputSubject" class="form-control">
        <option selected>Choose...</option>
        <option>English</option>
        <option>Maths</option>
        <option>EVS</option>
      </select>
	  </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="inputChapter">Course Name</label>
	<div class="col-sm-5">
    <input type="text" class="form-control" id="inputChapter" placeholder="Enter a Chapter name">
	</div>
  </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputlowurl">lowTech</label>
	  <div class="col-sm-5">
      <input type="text" class="form-control" id="inputlowurl">
	  </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputhighurl">highTech</label>
	  <div class="col-sm-5">
      <input type="text" class="form-control" id="inputhighurl">
	  </div>
    </div>
	
    
 
  <center><button type="submit" class="btn btn-primary">Update</button></center>
</form>



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>