<!DOCTYPE html>
<html lang="en">
	<head>
	<title>321</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
	</head>
	<body>
	<form class="form-horizontal" #ref="ngForm" (ngSubmit)="submitCourse(ref.value); ref.reset();">
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputBoard">Board</label>
	  
      <select id="inputBoard" name="board" ngModel>
        <option *ngFor="let board of inputBoard" [value]="board.value">{{board.viewValue}}</option>
      </select>
	  </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputGrade">Grade</label>
	  
        <select id="inputGrade" name="grade" ngModel>
            <option *ngFor="let grade of inputGrade" [value]="grade.value">{{grade.viewValue}}</option>
        </select>
	  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="inputSubject">Subject</label>
	
        <select id="inputSubject" name="subject" ngModel>
            <option *ngFor="let subject of inputSubject" [value]="subject.value">{{subject.viewValue}}</option>
        </select>
	  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="inputChapter">Course Name</label>
	
    <input type="text" id="inputChapter" placeholder="Enter a Chapter name" name="courseName" ngModel>
	</div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputlowurl"  >lowTech URL</label>
	  
      <input type="text" id="inputlowurl" name="lowTech" ngModel>
	  </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="inputhighurl" >highTech URL</label>
	  
      <input type="text" id="inputhighurl" name="highTech" ngModel>
	  </div>
 
  <button type="submit" class="btn btn-primary">Update</button>
    </form>

<div id="grade" style="height: 370px;  width: 100%; margin-left:auto;margin-right:auto; "></div>
<div id="hl" style="height: 370px;  width: 100%; margin-left:auto;margin-right:auto; "></div>
<div id="bw" style="height: 370px;  width: 100%; margin-left:auto;margin-right:auto; "></div>
</body>

</html>
