
<nav class="navbar navbar-nav main-nav navbar-expand-md navbar-inverse fixed-top bg-dark"  id="mainNav">
    
  <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav"><span
      class="navbar-toggler-icon"></span></button>
  
  <ul class="navbar-nav main-nav">
    <li class="nav-item item">
      <a href="#" class="nav-link navbar-brand text-uppercase font-weight-bold nav-brand px-3">321Foundation</a>
    </li>
    <ul class="navbar-nav main-nav justify-content-end">
      <li class="nav-item item">
        <a class="nav-link text-uppercase font-weight-bold px-3" routerLink="home">Home</a>
      </li>
      <li class="nav-item item">
          <a class="nav-link text-uppercase font-weight-bold px-3" routerLink="student">Student</a>
      </li>
      <li class="nav-item item">
          <a class="nav-link text-uppercase font-weight-bold px-3" routerLink="teacher">Teacher</a>
      </li>
      <li class="nav-item item">
          <a class="nav-link text-uppercase font-weight-bold px-3" routerLink="admin">Admin</a>
      </li>
      <li class="nav-item item">
          <a class="nav-link text-uppercase font-weight-bold px-3" routerLink="aboutus">Aboutus</a>
      </li>
    </ul>
  </ul>

  <div class="collapse navbar-collapse navbar-right justify-content-end" id="nav">
    
  </div>

</nav>
<br>
<br>



<router-outlet></router-outlet>
