<div class="container-fluid">
    <section class="pin" id="pin">
        <div class="row clearfix">
          <div class="offset-sm-2 col-sm-8">
            <form>
              <div class="form-group">
                <label>Enter a Login pin</label>
                <input type="text" name="" class="form-control">
              </div>
              
              <div class="form-group text-center">
                <button class="btn btnD1">Login</button>
              </div>
              
            </form>
          </div>
        </div>
    </section>
    </div>