<div class="container-fluid">
    <section class="pin" id="pin">
        <div class="row clearfix">
          <div class="offset-sm-2 col-sm-8">
            <form>
              <div class="form-group">
                <label>Enter a Login pin</label>
                <input type="password" name="adminpin" class="form-control" [(ngModel)]="adminpin">
              </div>
              <div class="form-group text-center">
                <button class="btn btnD1" (click)="submitPin()" type="button">Login</button>
              </div>
            </form>
          </div>
        </div>
    </section>
    </div>