<!DOCTYPE html>
<html>
<style>


.login {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:30%;
  margin-left:380px;
  margin-top:100px;
}
</style>
<body>


<div>
        <form>
             
                <label>Enter a Login pin</label>
                <input type="password" name="adminpin" class="form-control" [(ngModel)]="adminpin">
              
                <br>
                <button class="form-control" id="login" style="background-color: #337ab7;color: white" (click)="submitPin()" type="button">Login</button>
              
            </form>
</div>

</body>
</html>
