<!DOCTYPE html>
<html>
<body>

<br>
<form #ref="ngForm" (onSubmit)="submitValues(ref.value)">
  <br>
  <br>


  <label for="schools">Choose your school:</label>
  <select id="schoolName" class="form-control" name="school" ngModel>
            <option *ngFor="let school of schoolName" [value]="school.value">{{school.viewValue}}</option>
        </select>
  <br>
  <label for="schools">Choose your Grade:</label>
  <select id="inputGrade" class="form-control" name="grade" ngModel>
            <option *ngFor="let grade of inputGrade" [value]="grade.value">{{grade.viewValue}}</option>
        </select>
  <br>
  <label for="schools">Choose your subject:</label>
  <select id="inputSubject" class="form-control" name="subject" ngModel>
            <option *ngFor="let subject of inputSubject" [value]="subject.value">{{subject.viewValue}}</option>
        </select>
  <br>
  
  <button type="" value="Submit"></button>
</form>


</body>
</html>
