<!DOCTYPE html>
<html>
<body>


<br>
<form action="/action_page.php">
  <br>
  <br>


  <label for="schools">Choose your school:</label>
  <select name="sc" id="school">
    <option value="s">School A</option>
    <option value="s2">School B</option>
    <option value="s3">School C</option>
  </select>
  <br>
  <label for="grades">Choose your grade:</label>
  <select name="gd" id="grade">
    <option value="g1">Grade 1</option>
    <option value="g2">Grade 2</option>
    <option value="g3">Grade 3</option>
    <option value="g4">Grade 4</option>
    <option value="g5">Grade 5</option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>


</body>
</html>